@import "tailwindcss";

:root {
  /* Light Scheme*/
  /* --background: #ffffff;
  --foreground: #171717; */
  /* Dark Scheme for Light Mode */
      --background: #0a0a0a;
    --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Debugging utility to visualize element border, boundaries */
@layer utilities {
  .debug * {
    @apply border border-black;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Inter, system-ui, -apple-system, sans-serif;
  /* Transparent effect for all the text */
  @apply text-white/80
}
